.jersey .jersey_title{
    height: 300px;
    position: relative;
    display: flex;
    justify-content: center ;
    background-image: url('img/Jersey/mixed.jpg');
    align-items: center;
    background-size: cover;
}

.jersey .jersey_title::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.4); 
}

.jersey .title_font{    
    position: relative;
    width: max-content;
    color: rgb(255, 255, 255);
    font-size:40px;
    font-weight: bold;
    border-bottom: 4px yellow solid;
    padding-bottom: 3px;
    padding-left: 30px;
}

.jersey .container{
    display: flex;
    justify-content: center;
}

.jersey .sidebar{
    font-size: 30px;
}

.jersey .main_artical{        
    padding-left: 30px;
    width: 70%;
}

.jersey .jersey_content{
    display: flex;
    justify-content: center;
}

.jersey .content_title{ 
    font-size: 30px;    
    font-weight: bold;
    color: rgb(0, 0, 0);
    border-bottom: 4px rgb(255, 242, 65) solid;
    width: fit-content;
    padding: 25px 10px 0px 10px;
}
    
.jersey .jersey_img{
    padding: 25px 25px 0px;

}

.jersey .imgcaption{
    padding-left: 30px;
    padding-bottom: 25px;
}

.jersey .artical{
    width: 90%; 
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(222, 222, 222, 0.959);
    font-size: 20px;
}

/*白衫最底下空白用*/
.jersey .White_jersey{
    margin-bottom: 60px;
}