@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');


body{
    font-family: "Noto Sans TC", sans-serif;
    background-image: url('partybackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.main-header{
    background-image: linear-gradient(0deg, #ff3985, #ff7e22);
    height: 110px;
}

.main-header .logo{
    width: 80px;
}


.main-header .main-nav{
    margin: auto;
}

.main-header .main-nav a{
    font-size: 20   px;
    text-decoration: none;
    color: #ffffff;
    padding: 5px 1em;
    position: relative;
}

.main-header .main-nav a::after{
    content: '';    
    position: absolute;
    left:  50%;  
    right: 50%;
    height: 0;
    bottom: -5px;
    border-bottom: 1px solid white;
    transition: .3s;

}
    
.main-header .main-nav a:hover:after{
    left: 0;
    right: 0;
}

.main-header .logo img{
    width: 100%;
    vertical-align: top;
}

.main-header .container{
    display: flex;  
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

/* 個人頁面按鈕部分樣式 */
.profile-dropdown{
    position: relative;
    width: fit-content;
}


.profile-img{
    position: relative;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: url(./assets/dier-gazelle.gif);
    background-size: cover;
}


.profile-dropdown-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
    font-size: .9rem;
    font-weight: 500;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    cursor: pointer;
    width: 150px;
    transition: box-shadow 0.2s, background-color 0.2s;

}

.profile-dropdown-btn:hover{
    background-color: #b80093;
    box-shadow: #6387ff;
}

.profile-dropdown-btn span{
    margin:  0 .05rem;
    margin-right:  0;
    color: #ffffff;
}

/* 漢堡菜單內容區塊樣式 */
.profile-dropdown-list{
    display: relative;
    top: 68px;
    width: 220px;
    right: 0;
    background-color: white;
    border-radius: 10px;
    box-shadow: #cdcdcd;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s;
}

.profile-dropdown-list.active{
    max-height: 500px;

}

.profile-dropdown-list-item{
    padding: .5rem 0 .5rem 1rem;
    transition: background-color 0.2s, padding-left 0.2s;
}

.profile-dropdown-list-item:hover{
    padding-left: 1.5rem ;
    background-color: aliceblue;
}

.profile-dropdown-list hr{
    border: 0.5px solid gray;
}

.profile-dropdown-list-item a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: black;

}
/*content*/


.content .main-content{ 
    margin-bottom: 15px;
    margin-top: 15px;
    height: auto;
    background-color: rgba(23, 23, 23, 0.8);

}

.content .main-content h1{
    text-align: center;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 2.3rem;    
    color: rgb(255, 255, 255);
    font-weight: 100;   
}

.label{
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.ratio-label{
    font-size: 20px;
    color: #ffffff;

}

.check-label{
    font-size: 15px;
    color: #6387ff;

}

.content .col-7{
    font-size: 25px;
    color:#ffffff;
}

.btn{
    margin-bottom: 15px;
}

